{% macro page_heading(title, db_name_to_switch) %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{title}}</h1>

  </div>
{% endmacro %}

{% macro nav_link(text, href, li_icon="fa-circle") %}
    <a href="{{href}}" class="nav-link {{'active' if request.path==href else ''}}">
        <i class="nav-icon fas {{li_icon}}"></i>
        <p>
          {{text}}
          <i class="right fas fa-angle-left"></i>
        </p>
    </a>
{% endmacro %}

{% macro li(class="nav-item") %}
<li class="{{class}}">
  {{ caller() }}
</li>
{% endmacro %}

{% macro li_with_nav_link(text, href, li_icon="fa-circle") %}
  {% call li() %}
    {{nav_link(text, href, li_icon)}}
  {% endcall %}
{% endmacro %}

{% macro nav_ul(items, ul_class="nav nav-treeview") %}
<ul class="{{ul_class}}">
  {% for item in items %}
    {% call li() %}
      {{nav_link(item.text, item.href, item.li_icon)}}
    {% endcall %}
  {% endfor %}
</ul>
{% endmacro%}

{% macro nav_menu_item(item) %}
    {% if item.type == "section_header" %}
      <li class="nav-header">{{item.text}}</li>
    {% elif item.type == "submenu" %}
      <li class="nav-item has-treeview">
        {{ nav_link(item.text, "#", li_icon="fa-tachometer-alt")}}
        <ul class="nav nav-treeview">
          {% for submenu_item in item.children %}
            {{nav_menu_item(submenu_item)}}
          {% endfor %}
        </ul>
      </li>
    {% else %}
      {{ li_with_nav_link(item.text, url_for(item.url_for))}}
    {% endif %}
{% endmacro %}
  
{% macro nav_menu(items) %}
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        {% for item in items %}
          {{nav_menu_item(item)}}
        {% endfor %}
      </ul>
    </nav>
{% endmacro %}

{% macro render_select_tag(field) %}
  <select
    name="{{field.name}}"
    id="{{field.name}}"
  >
    <option value=""></option>
    {% for option in field.options %}
      <option 
        value="{{option.value}}"
        {% if field.value is defined and option.value==field.value %}
        selected
        {% endif %}
      >
        {{option.label}}
      </option>
    {% endfor %}
  </select>
{% endmacro %}

{% macro render_bool_select_tag(field) %}
  <select
    name="{{field.name}}"
    id="{{field.name}}"
  >
    <option value=""></option>
    <option value="true"
    {% if field.value is defined and field.value=="true"%}
    selected
    {% endif %}
    >
      Yes
    </option>
    <option value="false"
    {% if field.value is defined and field.value=="false"%}
    selected
    {% endif %}
    >
      No
    </option>
  </select>
{% endmacro %}


{% macro render_input_tag(field) %}
  <input 
    type="{{field.type}}" 
    id="{{field.name}}" 
    name="{{field.name}}"
    {% if field.value is defined %}
    value="{{field.value}}"
    {% endif %}
    >  
  </input>
{% endmacro %}

{% macro render_field(field) %}
  <label for="{{field.name}}">{{field.label or field.name}}</label>
  {% if field.type == "select" %}
    {{render_select_tag(field)}}
  {% elif field.type == "bool-select" %}
    {{render_bool_select_tag(field)}}
  {% else %}
    {{render_input_tag(field)}}
  {% endif %}
{% endmacro %}

{% macro render_form(fields, form_id, method) %}
    <form 
      name="{{form_id}}" 
      id="{{form_id}}"
      {% if method is defined %}
      method="{{method}}"
      {% endif %}
    >
        {% for field in fields %}
          {{render_field(field)}}
        {% endfor %}
        <button id="{{form_id}}-submit" class="btn btn-sm btn-info">
        Submit
        </button>
    </form>
{% endmacro %}

{% macro tab_heading(name, tab_heading_id, tab_content_id, selected) %}
  <li class="nav-item" role="presentation">
    <a 
      class="nav-link active" 
      id="{{tab_heading_id}}" 
      data-toggle="tab" 
      href="#{{tab_content_id}}" 
      role="tab" 
      aria-controls="{{tab_content_id}}"
      {% if selected %} 
      aria-selected="true"
      {% endif %}
    >
      {{name}}
    </a>
  </li>
{% endmacro %}